body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: lightgray;
}

.header {
    overflow: hidden;
    background-color: #333;
    z-index:2;
    border-bottom: 2px solid #333;
}

.header a {
    float: right;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


.profile{
    flex-basis: 60%;
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;    
}

.profile img{
    float:left;
    max-width: 400px;
    max-height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    z-index:1;
    margin-right:50px;
    margin-top: 10px;
}

.profile p{
    margin-top:25px;
}

.profile h1{
    padding-top:80px;
}

.divider{
    background-color: #333;
    height: 100px;
    width: 100%;
    margin-top: 130px;
}

.divider h1{
    text-align: center;
    color: lightgray;
    display: block;
    padding-top:25px;
}

.Team{
    margin:50px 50px;
    display: flex;
    text-align: center;
}

.Member{
    flex-basis: 50%;
}

.Projectlist{
    text-align: center;
}
ul{
    display:inline-block;
    text-align: left;
    margin-top:100px;
}

li{
    margin: 30px;
}



